<section class="product-list">
    <div class="product-list__card" *ngFor="let produto of produtos"> <!--ngFor renderiza a lista, pegando os produtos no arquivo produto-->
        <a routerLink="/produtos/{{produto.id}}" class="product-list__link">
            <img [src]="produto.imagem"> <!-- Pegando as imagems de dentro de produto [src] -->
            <h2 class="product-item__name">
                {{ produto.descricao }}
            </h2>
            <p class="product-item__price">
                {{ produto.preco | currency: "BRL"}}
            </p>
            <p class="product-item__price-description">
                {{ produto.descricaoPreco}}
            </p>
            <button class="product-item__buy-button" type="button">Comprar</button>
        </a>
    </div>
</section>